includes:
    - ./phpstan.source.neon

parameters:
    tmpDir: /tmp/phpstan/capell-packages-fast
    checkAuthCallsWhenInRequestScope: false
    checkModelMethodVisibility: false
    checkModelProperties: false
    checkOctaneCompatibility: false
    checkUnusedViews: false
    parseModelCastsMethod: false
